<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/estilo_site.css}">
    <link rel="stylesheet" th:href="@{/bootstrap-V5.3/bootstrap-5.3.0-alpha1-dist/css/bootstrap.min.css}">
    <script th:src="@{/jquery-3.6.3.min.js}"></script>
    <script th:src="@{/bootstrap-5.3.0-alpha1-dist/js/bootstrap.min.js}"></script>
    <link rel="fonts" th:href="@{/fonts}">


    <title>Site</title>
</head>

<body>
    <nav class="navbar bg-white navbar-geral">
        <div class="container-fluid" style="height: 65px;">
            <a class="navbar-brand text-dark titulo_navbar">InfinityCode42</a>
            <div class="d-flex">
                <form class="" action="/cadastro">
                    <button class="btn shadow btn-outline-dark text-dark" type="submit" href="/cadastro"
                        style="margin-right: 10px;">Cadastra-se</button>
                </form>
                <form class="ml-4 " action="/login">
                    <button class="btn shadow btn-outline-dark text-dark" type="submit" href="/login">Login</button>
                </form>
            </div>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="d-flex col-12 mt-5">
                <div class="card text-center mb-3 start-30px">
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>